@model AspNetCoreElasticsearchAuditTrail.ViewModels.AuditTrailViewModel
    
<h2>Audit Trail Logs</h2>


@using (Html.BeginForm("AuditTrailSearch", "Home", FormMethod.Get))
{
    <p>
        Filter: <input type="text" class="form-control" id="SearchString" name="SearchString" value="@Model.Filter">
    </p>
    <p>
        Skip: <input type="text" class="form-control" id="Skip" name="Skip" value="@Model.Skip">
    </p>
    <p>
        Size: <input type="text" class="form-control" id="amount" name="amount" value="@Model.Size">
    </p>
    <p>
        <input class="btn btn-primary" type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            Action
        </th>
        <th>
            Log
        </th>
        <th>
            Timestamp
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model.AuditTrailLogs)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Action)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Log)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
        </tr>
    }

</table>
<br />
