@model List<AuditTrail.Model.AuditTrailLog>
    
<h2>Audit Trail Logs</h2>


@using (Html.BeginForm("AboutSearch", "Home", FormMethod.Get))
{
    <p>
        Filter: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
    <p>
        Skip: @Html.TextBox("Skip")
    </p>
    <p>
        Size: @Html.TextBox("Amount")
    </p>
}

<table class="table">
    <tr>
        <th>
            Action
        </th>
        <th>
            Log
        </th>
        <th>
            Timestamp
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Action)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Log)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
        </tr>
    }

</table>
<br />
